@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    display: flex;
    background-color: hsl(167, 72%, 60%);
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(198.00, 100%, 50%) 0, transparent 55%);
    margin: auto;
    padding: auto;
    font-family: 'Roboto', sans-serif; 
    line-height: 1.5em;
    font-size: 1.3em;
}

h1 {
    font-size-adjust: auto;
    font-display: auto;
    font-size: larger;
}

.calculadora {
    border-collapse: collapse ;
    margin: auto;
    width: 200px;
}


.display {
    display: flex;
    font-size: 25px;
    width: 100%;
    text-align: right;
    
}

.btn {
    width: 100%;
    height: auto;
    font-size: 1em;
    border-radius: 20px;
    border: none;
    background:rgba(162, 161, 161, 0.453);
    cursor: pointer;

}

.btn:hover {
    background:rgba(100, 99, 99, 0.453);
}

.btn-eq {
    background:rgba(13, 255, 0, 0.453);
}

.btn-eq:hover {
    background:rgba(115, 255, 108, 0.453);

}

.btn-del {
    background:rgba(255, 0, 0, 0.453);
}

.btn-del:hover {
    background:rgba(255, 108, 108, 0.453);
}
